<div class="col-md-6 offset-md-3">
    <h3> Opret Konto </h3>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Fornavn </label>
            <input type="text" class="form-control" id="firstName"
                [(ngModel)]="user.firstName" name="firstName" placeholder="Indtast fornavn">
        </div>

        <div class="form-group">
            <label> Efternavn </label>
            <input type="text" class="form-control" id="lastName"
                [(ngModel)]="user.lastName" name="lastName" placeholder="Indtast efternavn">
        </div>

        <div class="form-group">
            <label> Beløb </label>
            <input type="text" class="form-control" id="balance"
                [(ngModel)]="user.balance" name="balance"placeholder="Indtast beløb (DKK)">
        </div>

        <button class="btn btn-success" type="submit"> Opret </button>

    </form>
</div>