<h2> Konti </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Fornavn </th>
            <th> Efternavn </th>
            <th> Indeværende beløb </th>
            <th> Konto-nr. </th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td> {{ user.firstName }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.balance }} DKK </td>
            <td> {{ user.id }} </td>
        </tr>
    </tbody>
</table>